html, body, #mapDiv{
    padding: 0;
    margin: 0;
    height: 100%;
}
    #mapDiv{
        width: 100%;
        float: left;
    }
    #info {
        top: 20px;
        color: #444;
        height: auto;
        font-family: Arial;
        right: 20px;
        margin: 5px;
        padding: 10px;
        position: absolute;
        width: 115px;
        z-index: 40;
        border: solid 2px #666;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.49);
    }

    button {
        display: block;
    }
    #HomeButton {
        position: absolute;
        top: 95px;
        left: 20px;
        z-index: 50;
    }